<div class="container">
    <p class="h3">Marks </p>
    <select class="form-select" aria-label="Default select example" id="semsters">
        <option value="1" selected>Semester 1</option>
        <option value="2">Semester 2</option>
        <option value="3">Semester 3</option>
        <option value="4">Semester 4</option>
    </select>
    <div id="student">

    </div>

</div>