<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Student Name</th>
                <th scope="col">Semester</th>

            </tr>
        </thead>
        <tbody>

            <% student.map((s,index)=>{%>

            <tr>
                <th scope="row"><%=index%></th>
                <td><%=s.name%></td>
                <td><%=s.semeseter%></td>
            </tr>
            <%})%>


        </tbody>
    </table>
</div>